<!-- <app-userlogin></app-userlogin> -->
<!-- <h1>{{title}}</h1>
<nav>
    <a routerLink="/userlogin">userlogin</a>
  </nav> -->
  
<div class="navbar">
  <a ><i class="fa fa-fw fa-home"></i> Home</a> 
  <a routerLink='./democomponenttwo'><i class="fa fa-fw fa-search"></i> Order Now</a> 
  <a ><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a routerLink = './democomponentone'><i class="fa fa-fw fa-user"></i> Login</a>
</div>
<!-- {{myoperfunc.count}} -->
<!-- <button (click)= "myclick()">click me</button> -->

<router-outlet></router-outlet>
